@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap);
body{
    margin:0;
    background:#f9f9f9;
    font:14px arial,tahoma
}
h1{
    margin:0 0 -10px 0;
    font:bold 36px asap,arial;
    color:#505050;
    letter-spacing:-1px
}
h2{
    margin:0 0 -10px 0;
    font:bold 26px asap,arial;
    color:#505050;
    letter-spacing:0
}
h3{
    margin:0 0 -10px 0;
    font:bold 20px asap,arial;
    color:#505050;
    letter-spacing:0
}
p{
    font:16px "source sans pro",arial;
    color:#484848;
    line-height:1.5;
    text-align:left
}
a{
    color:#006cff;
    text-decoration:none
}
a:hover{
    text-decoration:underline
}
input[type=text],textarea{
    vertical-align:middle;
    border-radius:3px;
    border:1px solid #dfdfdf;
    color:#444
}
input[type=submit]{
    font:16px arial,tahoma;
    height:36px;
    vertical-align:middle
}
.logo{
    font:bold 40px arial,tahoma;
    color:#222;
    word-wrap:break-word
}
header{
    text-align:center
}
header #top{
    background:#fff;
    box-shadow:0 1px 4px #ccc
}
header #logo{
    padding:40px 20px 25px
}
header a.logo{
    font:900 49px asap,arial;
    color:#0186da;
    letter-spacing:-1px;
    text-shadow:0 2px 2px #ddd;
    word-wrap:break-word
}
header a.logo:hover{
    text-decoration:none
}
header a .logoext{
    font-size:31px
}
nav ul{
    list-style:none;
    margin:0;
    padding:0 20px;
    background:#444
}
nav ul li{
    display:inline-block;
    padding:16px 20px
}
nav ul li a{
    color:#fff
}
main{
    display:block;
    margin:0 auto 0 auto;
    padding:0 20px;
    max-width:1000px
}
section#urlbox{
    margin:0 auto 20px auto;
    max-width:758px;
    box-shadow:0 1px 4px #ccc;
    border-radius:2px;
    padding:10px 30px 5px;
    background:#fff;
    text-align:center
}
section#urlbox h1{
    margin:10px auto 30px auto
}
section .boxtextcenter{
    margin:10px auto 20px;
    text-align:center;
    max-width:620px
}
section .boxtextleft{
    padding:0 50px;
    word-wrap:break-word
}
section#content{
    max-width:720px;
    margin:30px auto 20px
}
section .squarebox{
    display:inline-block;
    background:#fff;
    padding:15px 20px;
    border-radius:3px;
    font:55px lato,arial;
    color:#444
}
#formurl{
    display:table;
    max-width:600px;
    margin:0 auto
}
#formurl input[type=text]{
    display:table-cell;
    width:100%;
    height:56px;
    padding:10px 16px;
    font:17px lato,arial;
    color:#000;
    background:#fff;
    border:1px solid #bbb;
    border-right:0;
    border-radius:3px;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    box-sizing:border-box
}
#formurl #formbutton{
    display:table-cell;
    width:1%;
    box-sizing:border-box;
    vertical-align:middle
}
#formurl input[type=button],#formurl input[type=submit]{
    height:56px;
    padding:10px 16px;
    font:bold 17px lato,arial;
    color:#fff;
    background-color:#2c87c5;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    white-space:nowrap;
    border:0;
    border-radius:3px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    margin-left:-1px;
    -webkit-appearance:button;
    margin:0
}
section#emailbox{
    margin:0 auto 20px auto;
    max-width:758px;
    box-shadow:0 1px 4px #ccc;
    border-radius:2px;
    padding:10px 30px 5px;
    background:#fff;
    text-align:center
}
section#emailbox h2{
    margin:15px auto 20px auto
}
#formemail{
    display:table;
    max-width:400px;
    margin:0 auto
}
#formemail input[type=email]{
    display:table-cell;
    width:100%;
    height:56px;
    padding:10px 16px;
    font:17px lato,arial;
    color:#000;
    background:#fff;
    border:1px solid #bbb;
    border-right:0;
    border-radius:3px;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    box-sizing:border-box
}
#formemail #formbutton{
    display:table-cell;
    width:1%;
    box-sizing:border-box;
    vertical-align:middle
}
#formemail input[type=button],#formemail input[type=submit]{
    height:56px;
    padding:10px 16px;
    font:bold 17px lato,arial;
    color:#fff;
    background-color:#2c87c5;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    white-space:nowrap;
    border:0;
    border-radius:3px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    margin-left:-1px;
    -webkit-appearance:button;
    margin:0
}
html{
    position:relative;
    min-height:100%
}
body{
    margin-bottom:200px
}
@media all and (max-width:499px){
    main{
        padding:0 10px
    }
    section .boxtextleft{
        padding:0 10px;
        word-wrap:break-word
    }
}
input[type=email],input[type=text],textarea{
    font:16px lato,arial;
    padding:8px;
    vertical-align:middle;
    border-radius:1px;
    border:1px solid #b6b6b6;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1),0 -1px 1px #fff,0 1px 0 #fff
}
input[name=submit]{
    height:36px;
    padding:0 16px;
    font:normal 16px lato,arial;
    color:#fff;
    background-color:#2c87c5;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    white-space:nowrap;
    border:0;
    border-radius:3px
}